:root {
    --background-color: #EEEEEE;
    --text-color: #000000;
    --header-background-color: #EEEEEE;
    --login-background-color: #222831;
    --search-header-color: #eee;
    --button-background-color: #32E0C4;
    --menu-background-color: #434343;
    --menu-hover-color: #EEEEEE;
    --popup-background-color: #fefefe;
    --popup-border-color: #888;
    --sys-background-color: #f7f7f7;
    --sys-border-color: #2196F3;
    --footer-background-color: #222831;
    --footer-text-color: #EEE;
    --promos-background-color: rgb(70, 221, 201);
    --container-prod-background-color: #FFFFFF;
}

.dark-theme {
    --background-color: #1c1c1c;
    --text-color: #ffffff;
    --header-background-color: #1c1c1c;
    --login-background-color: #333333;
    --search-header-color: #ccc;
    --button-background-color: #555555;
    --menu-background-color: #2c2c2c;
    --menu-hover-color: #555555;
    --popup-background-color: #333333;
    --popup-border-color: #555555;
    --sys-background-color: #444444;
    --sys-border-color: #555555;
    --footer-background-color: #1c1c1c;
    --footer-text-color: #ccc;
    --promos-background-color: #333333;
    --container-prod-background-color: #333333;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    display: flex;
    width: 100%;
    height: 140px;
    overflow: hidden;
    background-color: var(--header-background-color);
}

/* LOGO */
.Esplogo {
    flex: 0 0 auto;
    background-color: var(--header-background-color);
    height: auto;
    overflow: hidden;
}

.Esplogo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

/* Search and menu */
.Container-halves {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.Login {
    flex: 1;
    background-color: var(--login-background-color);
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchengine {
    display: flex;
    flex-direction: column;
    padding-left: 35%;
    justify-content: center;
    align-items: center;
}

.searchengine .principal-header {
    font-family: 'Roboto Slab', serif;
    font-style: italic;
    font-size: 40px;
    color: var(--search-header-color);
}

.searchengine .principal-header1 {
    font-family: 'Roboto Slab', serif;
    font-style: italic;
    font-size: 20px;
    color: var(--search-header-color);
}

/* Search bar */
#barrabusqueda {
    width: 70%;
    height: 40px;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    color: #9fa1a3;
    text-align: left;
    vertical-align: middle;
    font-size: 17px;
    letter-spacing: 0px;
    font-weight: bold;
}

/* Buttons */
.buttons {
    flex: 1;
    background-color: var(--login-background-color);
    width: 10px;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

button {
    margin: 10px;
}

.Log-Btn1 {
    display: block;
}

.Log-Btn2 {
    display: none;
}

.custom-btn {
    color: var(--login-background-color);
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
}

.btn-1 {
    background-color: var(--button-background-color);
    border: none;
    width: 140px;
    height: 40px;
}

.btn-2 {
    background-color: var(--button-background-color);
    border: none;
    width: 50px;
    height: 50px;
}

.btn-1:hover {
    background-color: var(--menu-hover-color);
}

/* Menu */
.Menu {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

ul,
ol {
    list-style: none;
}

.nav {
    display: flex;
    margin-left: 400px;
}

.Spaces {
    margin-left: 5px;
    margin-right: 5px;
}

.nav>li {
    float: left;
    position: relative;
}

.nav li a {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    color: var(--login-background-color);
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

.nav li a:hover {
    color: var(--menu-hover-color);
    background-color: var(--menu-background-color);
}

.nav li ul {
    opacity: 0;
    color: var(--menu-hover-color);
    background-color: var(--menu-background-color);
    font-family: 'Lato', sans-serif;
    visibility: hidden;
    position: absolute;
    width: auto;
    height: 220px;
    column-count: 3;
    column-gap: 40px;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 1;
    top: 50px;
    left: 0;
}

.nav li ul li {
    border-right: 1px solid #CCCCCC;
    position: relative;
}

.nav li:hover>ul {
    opacity: 1;
    visibility: visible;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    right: -140px;
    top: 0px;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 2;
}

.nav li ul:hover>li ul {
    opacity: 1;
    visibility: visible;
}

.nav li:hover>ul li a {
    color: var(--menu-hover-color);
}

.nav li:hover>ul li:hover>a {
    color: #969696;
}

#Title1SubMenu {
    font-size: 28px;
}

/* SEPARATOR */
#Separator {
    display: flex;
    background-color: var(--button-background-color);
    width: 100%;
    height: 30px;
    overflow: hidden;
}

/* BODY MAIN */
.container {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

#setIMGElement {
    width: 500px;
    height: 600px;
    margin-right: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.setIMGElement {
    width: 100px;
    height: 100px;
    background-color: lightgray;
}

#setnameElement {
    right: 130px;
    width: 600px;
    font-size: 25px;
    font-weight: bold;
}

.setDescriptionElement {
    margin-top: 5px;
}

#setPriceElement {
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
}

#setIDElement {
    margin-top: 5px;
    right: 200px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
}

#setStockElement {
    margin-top: 5px;
    right: 200px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
}

#setDescriptionElement {
    margin-top: 5px;
    right: 200px;
    width: 600px;
    font-size: 16px;
}

/* Help button */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    bottom: 20px;
    right: 20px;
    background-color: var(--popup-background-color);
    padding: 20px;
    border: 1px solid var(--popup-border-color);
    width: 325px;
    max-width: 50%;
    border-radius: 10px;
}

.popup-content {
    margin-bottom: 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.circular-button {
    position: fixed;
    bottom: 20px;
    right: 80px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    outline: none;
}

.circular-button:hover {
    background-color: #45a049;
}

.circular-button2 {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    background-color: #45a049;
}

.circular-button3 {
    position: fixed;
    bottom: 20px;
    left: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    background-color: #45a049;
}

.chat {
    margin: 5px;
}

.chatsub {
    background-color: var(--button-background-color);
    margin: 5px;
    border-radius: 40px;
}

.Usr {
    padding: 5px;
    text-align: right;
    background-color: var(--button-background-color);
    border-radius: 40px;
}

.Sys {
    color: #333;
    background-color: var(--sys-background-color);
    border-left: 3px solid var(--sys-border-color);
    padding: 4px;
    margin: 10px 0;
}

.HelpMesage {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out;
}

.HelpMesage:focus {
    outline: none;
    border-color: #007bff;
}

.HelpButton {
    text-align: center;
}

/* FOOTER */
footer {
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
    padding: 20px;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    text-align: center;
}

#titleFooter1 {
    font-size: 30px;
    position: relative;
    top: -25px;
    left: -25px;
}

#titleFooter2 {
    font-size: 20px;
    position: relative;
    top: -25px;
    left: -25px;
}

#titleFooter3 {
    font-size: 20px;
    position: relative;
    top: -35px;
    left: -25px;
}

#titleFooter4 {
    font-size: 20px;
    position: relative;
    top: -40px;
    left: -25px;
}

.contenedor-padre {
    display: flex;
}

.contenedor-izquierdo {
    flex: 1;
    background-color: var(--promos-background-color);
    max-height: 1000px;
    padding-bottom: 20px;
}

.contenedor-derecho {
    flex: 0.5;
    background-color: var(--promos-background-color);
    margin-left: 20px;
    max-height: 200px;
}

.containerProd {
    background-color: var(--container-prod-background-color);
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
