body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
}

/* ::::header:::: */

header {
    display: flex;
    width: 100%;
    height: 140px;
    overflow: hidden;

}

/*---LOGO----*/

.Esplogo {
    flex: 0 0 auto;
    background-color: #EEEEEE;
    height: auto;
    overflow: hidden;

}

.Esplogo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

/*---Search and menu----*/


.Container-halves {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.Login {
    flex: 1;
    background-color: #222831;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchengine {
    flex: 2;
    height: 85px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*---Content----*/

/* Search bar */
#barrabusqueda {
    width: 70%;
    height: 40px;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    color: #9fa1a3;
    text-align: left;
    vertical-align: middle;
    font-size: 17px;
    letter-spacing: 0px;
    font-weight: bold;}

/*---buttons----*/
.buttons {
    flex: 1;
    background-color: #222831;
    width: 10px;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

button {
    margin: 10px;
}

.custom-btn {

    color: #222831;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
}

.btn-1 {
    background-color: #32E0C4;
    border: none;
    width: 140px;
    height: 40px;
}

.btn-2 {
    background-color: #6cd5c4;
    border: none;
    width: 50px;
    height: 50px;
}

.btn-1:hover {
    background-color: #EEEEEE;
}

/*---Menu----*/
.Menu {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -10px;
}

ul,
ol {
    list-style: none;
}

.nav>li {
    float: left;
    position: relative;
}

.nav li a {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    color: #222831;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

.nav li a:hover {
    color: #EEEEEE;
    background-color: #434343;
}

.nav li ul {
    opacity: 0;
    color: #EEEEEE;
    background-color: #434343;
    visibility: hidden;
    position: fixed;
    width: 900px;
    height: 400px;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 1;
    top: 130px;
    left: 409px;

}

.nav li:hover>ul {

    opacity: 1;
    visibility: visible;
}

.nav li ul li {

    position: relative;
}

.nav li ul li ul {

    right: -140px;
    top: 0px;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 2;
}

.nav li ul:hover>li ul {

    opacity: 1;
    visibility: visible;
}

.nav li:hover>ul li a {
    color: #EEEEEE;
}

.nav li:hover>ul li:hover>a {
    color: #969696;
}

#Title1SubMenu {
    font-size: 28px;
}


/* ::::SEPARATOR:::: */

#Separator {
    display: flex;
    background-color: #32E0C4;
    width: 100%;
    height: 30px;
    overflow: hidden;
}




/* ::::FOOTER:::: */

footer {

    background-color: #222831;
    color: #EEE;
    padding: 20px;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    text-align: center;
}

#titleFooter1 {
    font-size: 30px;
    position: relative;
    top: -25px;
    left: -25px;
}

#titleFooter2 {
    font-size: 20px;
    position: relative;
    top: -25px;
    left: -25px;
}

#titleFooter3 {
    font-size: 20px;
    position: relative;
    top: -35px;
    left: -25px;
}

#titleFooter4 {
    font-size: 20px;
    position: relative;
    top: -40px;
    left: -25px;
}

.Promos {
    background-color: #222831;

}

.Promossize {
    width: 1500px;
    height: 400px;
}