/* Default Light Theme */
:root {
    --background-color: #EEEEEE;
    --text-color: #000000;
    --header-background-color: #EEEEEE;
    --login-background-color: #222831;
    --search-header-color: #eee;
    --button-background-color: #32E0C4;
    --menu-background-color: #434343;
    --menu-hover-color: #EEEEEE;
    --popup-background-color: #fefefe;
    --popup-border-color: #888;
    --sys-background-color: #f7f7f7;
    --sys-border-color: #2196F3;
    --footer-background-color: #222831;
    --footer-text-color: #EEE;
    --promos-background-color: rgb(70, 221, 201);
    --container-prod-background-color: #FFFFFF;
}

/* Dark Theme */
.dark-theme {
    --background-color: #1c1c1c;
    --text-color: #ffffff;
    --header-background-color: #1c1c1c;
    --login-background-color: #333333;
    --search-header-color: #ccc;
    --button-background-color: #555555;
    --menu-background-color: #2c2c2c;
    --menu-hover-color: #555555;
    --popup-background-color: #333333;
    --popup-border-color: #555555;
    --sys-background-color: #444444;
    --sys-border-color: #555555;
    --footer-background-color: #1c1c1c;
    --footer-text-color: #ccc;
    --promos-background-color: #333333;
    --container-prod-background-color: #333333;
}

/* General Styles */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    display: flex;
    width: 100%;
    height: 140px;
    overflow: hidden;
    background-color: var(--header-background-color);
}

/* Logo */
.Esplogo {
    flex: 0 0 auto;
    background-color: var(--header-background-color);
    height: auto;
    overflow: hidden;
}

.Esplogo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

/* Search and Menu */
.Container-halves {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.Login {
    flex: 1;
    background-color: var(--login-background-color);
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchengine {
    display: flex;
    flex-direction: column;
    padding-left: 35%;
    justify-content: center;
    align-items: center;
}

.searchengine .principal-header {
    font-family: 'Roboto Slab', serif;
    font-style: italic;
    font-size: 40px;
    color: var(--search-header-color);
}

.searchengine .principal-header1 {
    font-family: 'Roboto Slab', serif;
    font-style: italic;
    font-size: 20px;
    color: var(--search-header-color);
}

/* Buttons */
.buttons {
    flex: 1;
    background-color: var(--login-background-color);
    width: 10px;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

button {
    margin: 10px;
}

.Log-Btn1 {
    display: block;
}

.Log-Btn2 {
    display: none;
}

.custom-btn {
    color: var(--login-background-color);
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: bold;
    background: var(--button-background-color);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
                7px 7px 20px 0px rgba(0, 0, 0, .1),
                4px 4px 5px 0px rgba(0, 0, 0, .1);
}

.btn-1 {
    background-color: var(--button-background-color);
    border: none;
    width: 140px;
    height: 40px;
}

.btn-2 {
    background-color: #6cd5c4;
    border: none;
    width: 50px;
    height: 50px;
}

.btn-1:hover {
    background-color: var(--menu-hover-color);
}

/* Login Header */
#login-header {
    text-align: center;
    font-size: 30px;
    color: var(--search-header-color);
}

#login-header img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

/* Menu */
.Menu {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

ul, ol {
    list-style: none;
}

.nav {
    display: flex;
    margin-left: 400px;
}

.Spaces {
    margin-left: 5px;
    margin-right: 5px;
}

.nav > li {
    float: left;
    position: relative;
}

.nav li a {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

.nav li a:hover {
    color: var(--menu-hover-color);
    background-color: var(--menu-background-color);
}

.nav li ul {
    opacity: 0;
    color: var(--menu-hover-color);
    background-color: var(--menu-background-color);
    font-family: 'Lato', sans-serif;
    visibility: hidden;
    position: fixed;
    width: auto;
    height: 220px;
    column-count: 3;
    column-gap: 40px;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 1;
    top: 130px;
    left: 240px;
}

.nav li ul li {
    border-right: 1px solid #CCCCCC;
    position: relative;
}

.nav li:hover > ul {
    opacity: 1;
    visibility: visible;
}

.nav li ul li ul {
    right: -140px;
    top: 0px;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 2;
}

.nav li ul:hover > li ul {
    opacity: 1;
    visibility: visible;
}

.nav li:hover > ul li a {
    color: var(--menu-hover-color);
}

.nav li:hover > ul li:hover > a {
    color: #969696;
}

#Title1SubMenu {
    font-size: 28px;
}

/* Separator */
#Separator {
    display: flex;
    background-color: var(--button-background-color);
    width: 100%;
    height: 30px;
    overflow: hidden;
}

/* Body Main */
.Promossize {
    width: 1169px;
    height: 322px;
}

.categories {
    justify-content: space-around;
    padding: 10px;
    background-color: var(--container-prod-background-color);
    width: 95%;
}

.category-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--container-prod-background-color);
    color: var(--text-color);
    font-size: 16px;
    cursor: pointer;
}

.category-button img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.Info1 {
    font-family: 'Lato', sans-serif;
    background-color: var(--promos-background-color);
    display: flex;
    justify-content: space-between;
}

.Div1Info1 {
    margin-left: 10%;
}

.Div2Info1 {
    margin-top: 10%;
    margin-right: 10%;
}

.ImgInfo1 {
    width: 908px;
    height: 445.48px;
}

.Info2 {
    font-family: 'Lato', sans-serif;
    background-color: var(--button-background-color);
    display: flex;
    justify-content: space-between;
}

.Div1Info2 {
    margin-right: 10%;
}

.Div2Info2 {
    margin-top: 10%;
    margin-left: 10%;
}

.ImgInfo2 {
    width: 706.45px;
    height: 438px;
}

/* Help Button */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    bottom: 20px;
    right: 20px;
    border: 1px solid var(--popup-border-color);
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.popup-content {
    background-color: var(--popup-background-color);
    padding: 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.help-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--button-background-color);
    color: var(--text-color);
    padding: 15px 25px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
}

.help-button:hover {
    background-color: var(--menu-hover-color);
}

/* Product Container */
.products-container {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--container-prod-background-color);
    padding: 20px;
}

.product-item {
    background-color: var(--sys-background-color);
    border: 1px solid var(--sys-border-color);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: calc(33% - 20px);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.product-item img {
    max-width: 100%;
    height: auto;
}

.product-item h3 {
    margin: 10px 0;
}

.product-item p {
    color: var(--text-color);
}

/* Footer */
footer {
    text-align: center;
    background-color: var(--footer-background-color);
    padding: 1rem;
}

footer p {
    color: var(--footer-text-color);
    margin: 0.5rem 0;
}
