body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main{
    background-color: #ffffff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.info-section {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.info-text {
    flex: 1;
}

.info-image {
    margin-left: 20px;
}

.about-us-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.about-us-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
}


.img {
    border-radius:100%;
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
    max-height: 100%; /* Ajusta la altura máxima de la imagen */
    display: block; /* Elimina el espacio adicional debajo de la imagen */
    margin: auto; /* Centra la imagen horizontalmente */
    height: 50%;
    margin-bottom: 25px; /* Margen inferior entre la imagen y el texto */
    margin-top: 25px;
}