.popup {
    display: none;
    position: fixed;
    z-index: 1;
    bottom: 20px;
    right: 20px;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    max-width: 300px;
    border-radius: 10px;
  }
  
  .popup-content {
    margin-bottom: 20px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .circular-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    outline: none;
  }
  
  .circular-button:hover {
    background-color: #45a049;
  }
  